<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.UserMapper">

    <select id="getUserByLoginName" resultType="com.jk.modelapi.UserBean">
        select * from t_login_user where loginname = #{loginname}
    </select>

    <select id="getUserphoneName" resultType="com.jk.modelapi.UserBean">
        select * from t_login_user where phone = #{phone}
    </select>

    <insert id="addUser" parameterType="com.jk.modelapi.UserBean" useGeneratedKeys="true" keyProperty="id">
        insert into t_login_user
        (name,loginname,password,phone,status)
        values (#{name},#{loginname},#{password},#{phone},#{status})
    </insert>

	<select id="getAdList" resultType="com.jk.modelapi.AdBean">
		select * from t_advertisiang where advAdd = 1
	</select>


</mapper>