<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>注册界面</title>
    <link rel="stylesheet" href="../EasyUI/themes/default/easyui.css"/>
    <link rel="stylesheet" href="../EasyUI/themes/icon.css"/>
    <link rel="stylesheet" href="../EasyUI/themes/color.css"/>
    <!--<script src="../EasyUI/locale/easyui-lang-zh_CN.js"></script>-->
    <link rel="stylesheet" href="../css/passport.min.css">
    <script src="../jquery.min.js"></script>


</head>

<body>
	<div class="passport-wrapper">
    <header id="header" class="passport-header">
        <div id="logo"><a href="#"><img src="../images/home1/logo.png"></a></div>
    </header>
	
<div id="container">
    <div class="passport-sign">
        <div class="main-form main-form-sign">
            <div class="passport-tab" id="login-tabs">
               
                <div class="tabbed">
                    <!-- tab-group -->
                    <div class="tab-group" style="display: block;">
                        <!-- form -->
                        <form id="addform">
                        <div class="passport-form passport-form-sign">
                            <input type="hidden" value="7" name="expire">
                            <input type="hidden" value="https://www.jikexueyuan.com/" name="referer">
                            <div class="form-item">
                                <div class="form-cont">
                                  用户名:<input type="text" name="name"  class="passport-txt xl w-full" tabindex="1">
                                </div>
                            </div>
                            <div class="form-item">
                                <div class="form-cont">
                                    登录名:<input type="text" name="loginname"  class="passport-txt xl w-full" tabindex="1">
                                </div>
                            </div>
                            <div class="form-item">
                                <div class="form-cont">
                                    密  码:<input type="password" name="password"  class="passport-txt xl w-full" tabindex="1">
                                </div>
                            </div>
                            <div class="form-item">
                                <div class="form-cont">
                                    手机号:<input type="text" name="phone"  class="passport-txt xl w-full" tabindex="1" maxlength="11">
                                </div>
                            </div>

                            <br>
                            <div class="form-item">
                                用户类型:
                                <input type="radio" name="status" value="1">学生</input>
                                <input type="radio" name="status" value="2">老师</input>
                            </div>
                            <P style="position: relative;">
                                <INPUT class="passport-txt xl w-full" name="imgVerify"
                                       style="width: 30%;heigth:50%;float: left;margin-left: 0px;margin-top: 10px;"
                                       type="text" placeholder="请输入验证码" value="" id="veriftyCode">
                                <img onclick="getVerify(this)" id="imgVerify" src="" style="width: 24%;height: 15%;float: left;margin: 11px 5px;"/>
                                <!-- <a href="javascript:changerVeriftyCode();" style="float: left;line-height: 57px;">换一张</a> -->
                            </P>


                            <div class="form-item form-imgcode mb-25">
                                <div class="form-cont">
                                    <div class="layout-inner2">

                                    </div>
                                    <input type="hidden" id="JT_csessionid" name="csessionid">
                                    <input type="hidden" id="JT_sig" name="sig">
                                    <input type="hidden" id="JT_token" name="token">
                                    <input type="hidden" id="JT_scene" name="scene">
                                    <input type="hidden" name="jike_scene" value="passport-login">
                                </div>
                            </div>
                           
                            <div class="form-item">
                                <div class="form-cont">
                                    <button class="passport-btn passport-btn-def xl w-full" tabindex="4" id="addBtn" type="button">注册</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    <!-- form end -->
                    </div>
                    <!-- tab-group end -->
                    <!-- tab-group -->
                    <div class="tab-group">
                        <!-- form -->
                        
                    <!-- form end -->
                    </div>
                    <!-- tab-group end -->
                </div>
            </div>
        </div>
        <div class="aside">
            <div id="preview">
                <img id="imghead" border="0" src="/images/photo_icon.png"  width="90" height="90" onClick="$('#previewImg').click();">
            </div>
            <input type="file" onChange="previewImage(this)" style="display: none;" id="previewImg">
            <div class="passport-goto">想起账号? <a href="#" id="toLogin" tabindex="5">返回登录</a>
            </div>
            <div class="passport-goto">忘记账号? <a href="#" id="toQuickLogin" tabindex="5">快速登录</a>
            </div>
            <!--ad-->
                        <!--/ad-->
            <div class="passport-third" style="margin-top:15px;">
                <header class="hd">

                </header>
                
            </div>
        </div>
    </div>
</div>
    </div>


<script type="text/javascript">
	function getVerify(obj){
	    obj.src = "../login/getVerify?"+Math.random();
	}
	$(function(){
		var obj = document.getElementById("imgVerify");
		getVerify(obj);
	})
	$('#addBtn').click(function(){
		$.ajax({
			url:'../login/addUser',
			type:'post',
			data:$("#addform").serialize(),

			success:function(result){
				if(result.code == 0){
                    alert(result.msg);
					window.location.href='../login/toLogin'
				}else{
					alert(result.msg);
				}
			}
		})
	})
    $('#toQuickLogin').click(function(){
        location.href="../login/toQucikLogin";
    })
    $('#toLogin').click(function(){
        location.href="../login/toLogin";
    })


</script>
    <script>
        //图片上传预览    IE是用了滤镜。
        function previewImage(file)
        {
            var MAXWIDTH  = 90;
            var MAXHEIGHT = 90;
            var div = document.getElementById('preview');
            if (file.files && file.files[0])
            {
                div.innerHTML ='<img id=imghead onclick=$("#previewImg").click()>';
                var img = document.getElementById('imghead');
                img.onload = function(){
                    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                    img.width  =  rect.width;
                    img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                    img.style.marginTop = rect.top+'px';
                }
                var reader = new FileReader();
                reader.onload = function(evt){img.src = evt.target.result;}
                reader.readAsDataURL(file.files[0]);
            }
            else //兼容IE
            {
                var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
                file.select();
                var src = document.selection.createRange().text;
                div.innerHTML = '<img id=imghead>';
                var img = document.getElementById('imghead');
                img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
                div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
            }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight ){
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;

                if( rateWidth > rateHeight ){
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else{
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
    </script>

</body>
</html>